# MongoDB
MONGO_USER=wms_admin
MONGO_PASSWORD=superSecretPass123
MONGODB_URI=mongodb://wms_admin:superSecretPass123@localhost:27017/wms_pro?authSource=admin

# Redis
REDIS_PASSWORD=redisSecretPass
REDIS_URL=redis://:redisSecretPass@localhost:6379

# JWT
JWT_SECRET=cambiar_por_secreto_de_64_chars_minimo_en_produccion_wms_pro_2026
JWT_EXPIRES_IN=7d

# BSale (opcional - el sistema funciona sin token)
BSALE_TOKEN=
BSALE_BASE_URL=https://api.bsale.cl/v1

# App
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173

# Seed
SEED_ADMIN_EMAIL=admin@cabodehornos.cl
SEED_ADMIN_PASSWORD=Admin123!
